<div class="container justify-content-around">
    <div class="row mt-3">
      <div class="col-md-4">
        <div class="col-md-12 mb-3">
          <app-menu></app-menu>
        </div>
        <div class="col-md-12 mb-3">
          <app-search></app-search>
        </div>
        <div class="col-md-12 mb-3">
          <app-cagetorylist></app-cagetorylist>
        </div>
      </div>
      <div class="col-md-8">
        <div class="col-md-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
