<div class="bg-secondary rounded">
    <div class="panel panel-default">
        <!-- <div class="panel-heading">Create Category</div> -->
        <div class="panel-body">
            <form>
                <div class="form-group row">
                    <label for="CategoryName" class="col-md-2 col-form-label">Name</label>
                    <div class="col-md-10">
                        <input type="email" class="form-control" id="CategoryName" placeholder="name">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-10 offset-md-2">
                        <button type="button" class="btn btn-primary">Ekle</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-default">
        <!-- <div class="panel-heading">Category List</div> -->
        <div class="panel-body">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>C Sharp</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>