
<div class="row m-2">
        <p>Category List</p>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of categories | async">
                <td scope="row">{{category.id}}</td>
                <td>{{category.name}}</td>
                <td class="float-right">
                    <button (click)="deleteCategory(category.id)" class="btn btn-danger">Delete</button>
                    <button (click)="detailCategory(category.id)" class="btn btn-info" style="margin-left: 20px">Details</button>
                    <button (click)="updateCategory(category.id)" class="btn btn-info" style="margin-left: 20px">Update</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
