<div class="bg-secondary rounded text-center pt-3">
  <div class="row">
    <div class="col-md-12">
      <a href="#"><img class="img-fluid rounded-circle"
          src="https://media.licdn.com/dms/image/C5103AQFWbSPUOQOuWA/profile-displayphoto-shrink_200_200/0?e=1574294400&v=beta&t=9biO4LPLzrk9Tm0INwarhVezLeAGOV_N7tTF44Mi9QM"
          alt=""></a>
    </div>
    <div class="col-md-12 mt-3">
      <h3>Düzgün Tutar</h3>
      <h6>Bilgisayar Mühendisi</h6>
      <p>{{ '[' }} {{ '{' }} Java {{ '}' }},{{ '{' }} C # {{ '}' }},
        {{ '{' }} Python {{ '}' }},{{ '{' }} Node.js {{ '}' }},{{ '{' }} Angular {{ '}' }},{{ '{' }} React {{ '}]' }}
      </p>
    </div>
  </div>
</div>